{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block head_title %}{{ block.super}} - Cambia Password {% endblock head_title %}
{% block content %}
<div class="row justify-content-center mt-4">
    <div class="col-4 text-center">
        <h2>Modifica Password</h2>
        <h4>Inserire la password attuale, dopodiché crea una nuova password e ripetila !</h4>
        <form class="" method="POST" novalidate>
            {% csrf_token %}
            {{form|crispy}}
            <br>
            <input type="submit" class="btn btn-success" value="Cambia Password">
        </form>
    </div>

</div>

{% endblock content %}